{
    "root": true,
    "env": {
        "browser": true,
        "es2020": true,
        "node": true
    },
    "extends": [
        "airbnb-base",
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react-hooks/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "ignorePatterns": [
        "dist",
        ".eslintrc.cjs",
        "*.cjs"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "react-refresh"
    ],
    "rules": {
        "react-refresh/only-export-components": [
            "warn",
            {
                "allowConstantExport": true
            }
        ],
        "import/extensions": [
            "error",
            "always"
        ],
        "linebreak-style": [
            "error",
            "windows"
        ]
    }
}